<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Open Graph Meta Tags for Social Media Sharing -->
  <meta property="og:title" content="Contact - Siam Sarker | Get In Touch">
  <meta property="og:description" content="Connect with Siam Sarker - Jedi Software Engineer. Available for freelance projects, collaborations, and exciting opportunities in web development and software engineering.">
  <meta property="og:image" content="../static/assets/star_wars_materials/siam_jedi.png">
  <meta property="og:url" content="https://siamsarker.github.io/portfo/contact.html">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Siam Sarker Portfolio">
  
  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Contact - Siam Sarker | Get In Touch">
  <meta name="twitter:description" content="Connect with Siam Sarker - Jedi Software Engineer. Available for freelance projects, collaborations, and exciting opportunities in web development and software engineering.">
  <meta name="twitter:image" content="../static/assets/star_wars_materials/siam_jedi.png">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
  <link href="../static/assets/favicon.ico" rel="icon">

  <title>Contact - Siam Sarker</title>

<link href="../static/main.3f6952e4.css" rel="stylesheet">
<link href="../static/custom.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="index.html" title=""><p style="font-size: 14px"><b>01 : Home</b></p></a></li>
          <li><a href="about.html" title=""><p style="font-size: 14px"><b>02 : About</b></p></a></li>
          <li><a href="experience.html" title=""><p style="font-size: 14px"><b>03 : Experience</b></p></a></li>
          <li><a href="projects.html" title=""><p style="font-size: 14px"><b>04 : Projects</b></p></a></li>
          <li><a href="skills.html" title=""><p style="font-size: 14px"><b>05 : Skills</b></p></a></li>
          <li><a href="education.html" title=""><p style="font-size: 14px"><b>06 : Education</b></p></a></li>
          <li><a href="contact.html" title=""><p style="font-size: 14px"><b>07 : Contact</b></p></a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">07 : Contact Me</h1>
            <p>Let's connect and discuss opportunities</p>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <form action="submit_form" method="post" class="reveal-content">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="form-group">
                        <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
                      </div>
                      <div class="form-group">
                        <textarea name="message" class="form-control" rows="5" placeholder="Enter your message"></textarea>
                      </div>
                      <button type="submit" class="btn btn-default btn-lg">Send</button>
                    </div>
                    <div class="col-md-5 address-container">
                      <ul class="list-unstyled">
                        <li>
                          <span class="fa-icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                          </span>
                          + 880 182655 7650
                        </li>
                        <li>
                          <span class="fa-icon">
                            <i class="fa fa-at" aria-hidden="true"></i>
                          </span>
                          m.siamhossainsarker@gmail.com
                        </li>
                        <li>
                          <span class="fa-icon">
                            <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                          </span>
                          Dhaka, Bangladesh
                        </li>
                      </ul>
                      <h3>Follow me on social networks</h3>
                      <a href="https://www.facebook.com/SarkerSiam2/" title="" class="fa-icon">
                        <i class="fa fa-facebook"></i>
                      </a>
                      <a href="https://github.com/SiamSarker" title="" class="fa-icon">
                        <i class="fa fa-github"></i>
                      </a>
                      <a href="https://www.linkedin.com/in/siam-sarker/" title="" class="fa-icon">
                        <i class="fa fa-linkedin"></i>
                      </a>
                      
                      <h3>Download Resume</h3>
                      <a href="../static/assets/resume/Md_Siam_Hossain_Sarker_Resume.pdf" target="_blank" class="btn btn-primary">
                        <i class="fa fa-download"></i> Download PDF Resume
                      </a>
                    </div>
                  </div>
                </form>
            </div>

          </div>
         
       </div>
      </div>
    </div>
  </div>



<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="../static/main.70a66962.js"></script></body>

</html>