<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
  <link href="../static/assets/favicon.ico" rel="icon">

  <title>Siam Sarker - Jedi Software Engineer</title>

<link href="../static/main.3f6952e4.css" rel="stylesheet">
<link href="../static/custom.css" rel="stylesheet"></head>

<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="index.html" title=""><p style="font-size: 14px"><b>01 : Home</b></p></a></li>
          <li><a href="about.html" title=""><p style="font-size: 14px"><b>02 : About</b></p></a></li>
          <li><a href="experience.html" title=""><p style="font-size: 14px"><b>03 : Experience</b></p></a></li>
          <li><a href="projects.html" title=""><p style="font-size: 14px"><b>04 : Projects</b></p></a></li>
          <li><a href="skills.html" title=""><p style="font-size: 14px"><b>05 : Skills</b></p></a></li>
          <li><a href="education.html" title=""><p style="font-size: 14px"><b>06 : Education</b></p></a></li>
          <li><a href="contact.html" title=""><p style="font-size: 14px"><b>07 : Contact</b></p></a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container starwars-hero-container" style="background-image: url('../static/assets/images/siam.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>MAY THE CODE BE WITH YOU<br>
                <span id="typed-strings">
                  <span>I'm Siam Sarker</span>
                  <span>Jedi Software Engineer</span>
                  <span>Master of Laravel</span>
                  <span>Node.js Padawan</span>
                  <span>Full-Stack Jedi</span>
                  <span>Code Warrior</span>
                </span>
                <span id="typed"></span>
              </h1>
              <div class="starwars-subtitle">
                <p style="font-size: 1.5rem; color: var(--starwars-blue); text-shadow: 0 0 10px var(--starwars-blue);">
                  ⚡ FORCE-POWERED DEVELOPMENT ⚡
                </p>
                <p style="font-size: 1.2rem; color: var(--starwars-silver); margin-top: 20px;">
                  Crafting digital galaxies with precision and passion
                </p>
              </div>
            </div>
            
                 <!-- Star Wars Droids -->
                 <div class="starwars-droids">
                   <div class="droid-image-container">
                     <img src="../static/assets/star_wars_materials/c3poandr2d2.png" alt="C3PO and R2D2 Droids" class="droid-image">
                     <div class="droid-speech-bubble c3po-speech">
                       <div class="speech-text">"I am fluent in over six million forms of communication... including JavaScript!"</div>
                       <div class="speech-arrow"></div>
                     </div>
                     <div class="droid-speech-bubble r2d2-speech">
                       <div class="speech-text">*Beep boop* "Binary code is my native language!"</div>
                       <div class="speech-arrow"></div>
                     </div>
                   </div>
                 </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>


<script type="text/javascript" src="../static/main.70a66962.js"></script></body>

</html>