<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Discover Siam Sarker's technical skills and expertise. Proficient in Laravel, Node.js, PHP, JavaScript, MySQL, PostgreSQL, and modern web development technologies." name="description">
  <meta name="google" content="notranslate" />
  <meta content="Siam Sarker - Jedi Software Engineer" name="author">

  <!-- Open Graph Meta Tags for Social Media Sharing -->
  <meta property="og:title" content="Skills - Siam Sarker | Technical Expertise">
  <meta property="og:description" content="Discover Siam Sarker's technical skills and expertise. Proficient in Laravel, Node.js, PHP, JavaScript, MySQL, PostgreSQL, and modern web development technologies.">
  <meta property="og:image" content="https://siamsarker.pythonanywhere.com/static/assets/star_wars_materials/siam_default.jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:alt" content="Siam Sarker - Jedi Software Engineer">
  <meta property="og:url" content="https://siamsarker.pythonanywhere.com/skills.html">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Siam Sarker Portfolio">
  <meta property="og:locale" content="en_US">
  
  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Skills - Siam Sarker | Technical Expertise">
  <meta name="twitter:description" content="Discover Siam Sarker's technical skills and expertise. Proficient in Laravel, Node.js, PHP, JavaScript, MySQL, PostgreSQL, and modern web development technologies.">
  <meta name="twitter:image" content="https://siamsarker.pythonanywhere.com/static/assets/star_wars_materials/siam_default.jpg">
  <meta name="twitter:image:alt" content="Siam Sarker - Jedi Software Engineer">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
  <link href="../static/assets/favicon.ico" rel="icon">

  <title>Skills - Siam Sarker</title>

<link href="../static/main.3f6952e4.css" rel="stylesheet">
<link href="../static/custom.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="index.html" title=""><p style="font-size: 14px"><b>01 : Home</b></p></a></li>
          <li><a href="about.html" title=""><p style="font-size: 14px"><b>02 : About</b></p></a></li>
          <li><a href="experience.html" title=""><p style="font-size: 14px"><b>03 : Experience</b></p></a></li>
          <li><a href="projects.html" title=""><p style="font-size: 14px"><b>04 : Projects</b></p></a></li>
          <li><a href="skills.html" title=""><p style="font-size: 14px"><b>05 : Skills</b></p></a></li>
          <li><a href="education.html" title=""><p style="font-size: 14px"><b>06 : Education</b></p></a></li>
          <li><a href="contact.html" title=""><p style="font-size: 14px"><b>07 : Contact</b></p></a></li>
        </ul>

      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">05 : Technical Skills</h1>
            <p>Technologies and tools I work with</p>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              
              <!-- Programming Languages -->
              <div class="skill-category">
                <h3>Programming Languages</h3>
                <div class="row">
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/php.png" alt="PHP" class="skill-icon">
                      <h4>PHP</h4>
                      <p>Advanced</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/javascript.png" alt="JavaScript" class="skill-icon">
                      <h4>JavaScript</h4>
                      <p>Advanced</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/Typescript_logo.png" alt="TypeScript" class="skill-icon">
                      <h4>TypeScript</h4>
                      <p>Intermediate</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/Python-logo.png" alt="Python" class="skill-icon">
                      <h4>Python</h4>
                      <p>Intermediate</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/java.png" alt="Java" class="skill-icon">
                      <h4>Java</h4>
                      <p>Intermediate</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/c.png" alt="C/C++" class="skill-icon">
                      <h4>C/C++</h4>
                      <p>Intermediate</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Backend Technologies -->
              <div class="skill-category">
                <h3>Backend Technologies</h3>
                <div class="row">
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/node.png" alt="Node.js" class="skill-icon">
                      <h4>Node.js</h4>
                      <p>Advanced</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/Express.png" alt="Express.js" class="skill-icon">
                      <h4>Express.js</h4>
                      <p>Advanced</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/laravel.png" alt="Laravel" class="skill-icon">
                      <h4>Laravel</h4>
                      <p>Expert</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/cakephp.png" alt="CakePHP" class="skill-icon">
                      <h4>CakePHP</h4>
                      <p>Advanced</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/nestjs.png" alt="NestJS" class="skill-icon">
                      <h4>NestJS</h4>
                      <p>Intermediate</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/socket.png" alt="Socket Programming" class="skill-icon">
                      <h4>Socket Programming</h4>
                      <p>Intermediate</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Frontend Technologies -->
              <div class="skill-category">
                <h3>Frontend Technologies</h3>
                <div class="row">
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/react.png" alt="React" class="skill-icon">
                      <h4>React</h4>
                      <p>Intermediate</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/html5-300x300.jpg" alt="HTML5" class="skill-icon">
                      <h4>HTML5</h4>
                      <p>Advanced</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/css3-300x300.jpg" alt="CSS3" class="skill-icon">
                      <h4>CSS3</h4>
                      <p>Advanced</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/reactnative.png" alt="React Native" class="skill-icon">
                      <h4>React Native</h4>
                      <p>Intermediate</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/materialize.png" alt="Materialize" class="skill-icon">
                      <h4>Materialize</h4>
                      <p>Intermediate</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/javafx.png" alt="JavaFX" class="skill-icon">
                      <h4>JavaFX</h4>
                      <p>Intermediate</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Databases & Tools -->
              <div class="skill-category">
                <h3>Databases & Development Tools</h3>
                <div class="row">
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/mysql-logo-1-300x300.jpg" alt="MySQL" class="skill-icon">
                      <h4>MySQL</h4>
                      <p>Advanced</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/postgresql-logo.png" alt="PostgreSQL" class="skill-icon">
                      <h4>PostgreSQL</h4>
                      <p>Intermediate</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/git.png" alt="Git" class="skill-icon">
                      <h4>Git</h4>
                      <p>Advanced</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="skill-item">
                      <img src="../static/assets/images/api.png" alt="REST APIs" class="skill-icon">
                      <h4>REST APIs</h4>
                      <p>Expert</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Core Concepts -->
              <div class="skill-category">
                <h3>Core Concepts & Methodologies</h3>
                <div class="row">
                  <div class="col-md-12">
                    <div class="concepts-grid">
                      <span class="concept-tag">Object-Oriented Programming (OOP)</span>
                      <span class="concept-tag">Data Structures & Algorithms</span>
                      <span class="concept-tag">Relational Database Management (RDBMS)</span>
                      <span class="concept-tag">Web & Mobile App Development</span>
                      <span class="concept-tag">System Architecture</span>
                      <span class="concept-tag">Agile Development</span>
                      <span class="concept-tag">MVC Pattern</span>
                      <span class="concept-tag">Repository Pattern</span>
                      <span class="concept-tag">API Design</span>
                      <span class="concept-tag">Database Optimization</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          
       </div>
      </div>
    </div>
  </div>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<script type="text/javascript" src="../static/main.70a66962.js"></script></body>

</html>
